body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar {
    background-color: #1a2b4c;
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.topbar-content {
    display: flex;
    padding-left: 270px; /* adjust this value to match workspace margin */
    gap: 1px;
}

.tab {
    background-color: #243c5a;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}


.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #101d33;
  width: 250px;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.search {
  flex: 1;
  padding: 5px;
}

.filter-btn {
  background-color: #243c5a;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.folder h4 {
  margin-bottom: 5px;
}

.folder ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.folder li {
  margin-left: 10px;
  cursor: pointer;
}

.workspace {
  background-color: #223b60;
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.workspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-btn {
  padding: 5px 15px;
  background-color: #305780;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2d4f73;
}

.project-table th,
.project-table td {
  border: 1px solid #3c668f;
  padding: 8px;
  text-align: left;
}
