.crazy-button {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 60, 90);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.crazy-button:hover {
  background-color: #164e86;
  box-shadow: 0 0 10px rgba(33, 150, 243, 0.4);
}
